figures/
flux_doc.jl
asCSVfiles/

BSON/9x9.bson
BSON/12x12_relu.bson
BSON/r2_9x9.bson
BSON/2sp_original_ratonlaveur_300samples.bson
BSON/2sp_original_ratonlaveur_600samples.bson
BSON/2sp_original_ratonlaveur.bson
BSON/allspecies_3033sec_9842acc_atom.bson
BSON/FIRST_ORIGINAL.bson
BSON/fox_full_300samples.bson
BSON/fox_full.bson
BSON/fox_sliding_window.bson
BSON/multispmod10_sampleonlywheredata.bson
BSON/test_original.bson
